/*!--------RESET---------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*!--------HEADER---------*/
.header{
    background-color: #00184F;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
}

.img-logo {
    filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(157deg) brightness(105%) contrast(100%);
}

.titulo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-weight: 500;
}


.nav-menu{
    display: flex;
    list-style-type: none; 
    gap: .8rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-link{
    text-decoration: none;
    color: #ffffff;
}

.nav-link.active {
    font-weight: bold;
    text-decoration: underline;
}

.ItemList{
    text-align: center;
    padding: 10ch;
}

.Item-list-container{
    max-width: 1000px;
    margin: 0 auto;

}

.Modelos-grilla{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.producto{
    background-color: #002a8d;
    border-radius: .5rem;
    padding: 1rem;
}

.imagen{
    width: 280px;
    height: 150px;
}

.color-de-h2{
    color: #ffffff;
}

.color-de-texto{
    color: rgb(255, 255, 255);
}

footer div {
    background-color: #00184F;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
}

.redes {
    text-align: right;
}

.redes p {
    color: white;
}

a {
    color: white;
}

.verde {
    color: green;
}

.rojo {
    color: red;
}

.bg-blanco {
    background-color: white;
}

.bg-gris {
    background-color: gray;
}